
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BespeakSelfSeat</title>
    <!--框架必需start-->
    <script type="text/javascript" src="~/quickui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/framework.js"></script>
    <link href="~/quickui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" id="skin" prePath="~/quickui/" />
    <link rel="stylesheet" type="text/css" id="customSkin" />
    <!--框架必需end-->
    <link rel="stylesheet" type="text/css" href="~/quickui/style/style.css" />
    <script src="~/quickui/libs/js/table/quiGrid.js" type="text/javascript"></script>
    <!--引入提示组件start-->
    <script type="text/javascript" src="~/quickui/libs/js/popup/toast.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/popup/notice.js"></script>
    <!--引入提示组件end-->
</head>
<body>
    <div class="box_tool padding_bottom3 padding_right5">
        <div class="center">
            <div class="left">
                <div class="right">
                    <a href="javascript:btnDelayTimeEnabledClick();" id="btnDelayTimeEnabled" >
                        <div class="navIconTool">
                            <img src="~/lib/delayseat.png" /><br />
                            座位续时
                        </div>
                    </a>
                    <a href="javascript:btnShortLeaveEnabledClick();" id="btnShortLeaveEnabled">
                        <div class="navIconTool">
                            <img src="~/lib/shortleaveseat.png" /><br />
                            座位暂离
                        </div>
                    </a>
                    <a href="javascript:btnLeaveEnabledClick();" id="btnLeaveEnabled">
                        <div class="navIconTool">
                            <img src="~/lib/leaveseat.png" /><br />
                            座位释放
                        </div>
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div>
        <table class="tableStyle" style="width:500px;">
            <tr>
                <td width="20%">座位</td>
                <td><span id="lbSeat"></span></td>
            </tr>
            <tr>
                <td>状态</td>
                <td><span id="lbStatus"></span></td>
            </tr>
            <tr>
                <td>刷卡时间</td>
                <td><span id="lbTime"></span></td>
            </tr>
        </table>
    </div>

    <script>

        function btnDelayTimeEnabledClick() {
            top.Dialog.confirm("确认续时？",
                function () {
                    $.ajax({
                        url: "@Url.Action("SeatOp", "SeatBespeak")",
                        data: { opFlag: 'delay' },
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.status == "yes") {
                                //location.href='/UsersManage/UserInfo'
                                top.Toast('showSuccessToast', data.message);
                                window.location.reload();
                            } else {
                                top.Toast('showErrorToast', data.message);
                            }
                        }
                    });
                },
                function () {
                    //点击了取消
                });
        }

        function btnShortLeaveEnabledClick(){
            top.Dialog.confirm("确认暂离？",
                function () {
                    $.ajax({
                        url: "@Url.Action("SeatOp", "SeatBespeak")",
                        data: { opFlag: 'shortLeave' },
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.status == "yes") {
                                //location.href='/UsersManage/UserInfo'
                                top.Toast('showSuccessToast', data.message);
                                window.location.reload();
                            } else {
                                top.Toast('showErrorToast', data.message);
                            }
                        }
                    });
                },
                function () {
                    //点击了取消
                });
        }

        function btnLeaveEnabledClick() {
            top.Dialog.confirm("确认离开？",
                function () {
                    $.ajax({
                        url: "@Url.Action("SeatOp", "SeatBespeak")",
                        data: { opFlag: 'leave' },
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.status == "yes") {
                                top.Toast('showSuccessToast', data.message);
                                window.location.reload();
                            } else {
                                top.Toast('showErrorToast', data.message);
                            }
                        }
                    });
                },
                function () {
                    //点击了取消
                });
        }

        $(function () {
            $("#lbSeat").html('@ViewBag.lblSeatInfoText');
            $("#lbStatus").html('@ViewBag.lblStateText');
            $("#lbTime").html('@ViewBag.lblHoldTimeText');
            if ('@ViewBag.btnDelayTimeEnabled' == "true") {
                $("#btnDelayTimeEnabled").show();
            } else {
                $("#btnDelayTimeEnabled").hide();
            }

            if ('@ViewBag.btnShortLeaveEnabled' == "true") {
                $("#btnShortLeaveEnabled").show();
            } else {
                $("#btnShortLeaveEnabled").hide();
            }

            if ('@ViewBag.btnLeaveEnabled' == "true") {
                $("#btnLeaveEnabled").show();
            } else {
                $("#btnLeaveEnabled").hide();
            }

        });
    </script>
</body>
</html>
