
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>读者预约记录</title>
    <!--框架必需start-->
    <script type="text/javascript" src="~/quickui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/framework.js"></script>
    <link href="~/quickui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" id="skin" prePath="~/quickui/" />
    <link rel="stylesheet" type="text/css" id="customSkin" />
    <!--框架必需end-->
    <link rel="stylesheet" type="text/css" href="~/quickui/style/style.css" />

    <script src="~/quickui/libs/js/table/quiGrid.js" type="text/javascript"></script>

    <!--引入提示组件start-->
    <script type="text/javascript" src="~/quickui/libs/js/popup/toast.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/popup/notice.js"></script>
    <!--引入提示组件end-->
    <script type="text/javascript" src="~/quickui/libs/js/form/datePicker/WdatePicker.js"></script>
    <style>
        .oppContent {
            width: 340px;
            height: 40px;
            float: left;
        }



        .searchContent {
            width: 100%;
            height: 40px;
            position: absolute;
            left: 0;
        }
    </style>

</head>
<body>
    <div class="page_content">
        <div class="searchContent">
            <form id="queryForm" name="queryForm" method="post">
                <table style="float: left;">
                    <tr>
                        <td>开始时间</td>
                        <td>
                            <input type="text" dateFmt="yyyy/MM/dd" placeholder="开始日期" class="date" id="beginDate" name="beginDate" />
                        </td>
                        <td>结束时间</td>
                        <td>
                            <input type="text" dateFmt="yyyy/MM/dd" placeholder="结束日期" class="date" id="endDate" name="endDate" />
                        </td>
                        <td>预约状态</td>
                        <td>
                            <div id="BespeakEnum"></div>

                        </td>
                        <td><button type="button" onclick="searchHandler()" id="search" class="primary"><span class="icon_find">查询</span></button></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="clear"></div>
        <br />
        <div class="infoCard infoCard2">
            <div class="title">
                <span>预约记录列表</span>
            </div>
            <div id="dataBasic"></div>
        </div>
        </div>
        <script>

            var ddSelect = '@Html.Raw(ViewBag.BespeakEnumKeyValue)';

            var grid = null;
            var dd = @MvcHtmlString.Create(@ViewBag.Data);
            //数据表格使用
            var gridData = dd;

            function initComplete() {
                grid = $("#dataBasic").quiGrid({
                    columns: [
                        {
                            display: 'BespeakID',
                            name: 'BespeakID',
                            width: "10%",
                            hide:true
                        },
                        {
                        display: '阅览室名字',
                        name: 'ReadingRoomName',
                        width: "10%"
                    },{
                        display: '座位号',
                        name: 'SeatNum',
                        width: "10%"
                    },{
                        display: '预约状态',
                        name: 'BsepeakState',
                        width: "10%"
                    }, {
                        display: '提交时间',
                        name: 'SubmitTime',
                        width: "10%"
                    }, {
                        display: '预约时间',
                        name: 'BespeakTime',
                        width: "10%"
                    }, {
                        display: '取消时间',
                        name: 'CancelTime',
                        width: "10%"
                    }, {
                        display: '备注',
                        name: 'Remark',
                        width: "30%"
                    },
                      //{ display: '操作', align: 'left', width:"10%",
                      //    render: function (rowdata, rowindex, value, column){
                      //        return ' <div class="grid_opp_container">'
                      //                + '<span class="grid_opp_delete" onclick="onDelete(' + rowdata.BespeakID+','+rowindex + ')">删除</span>'
                      //            + '</div>';
                      //    }
                      //}

                    {
                    display: '操作', isAllowHide: false, align: 'left', width: "10%",
                render: function (rowdata, rowindex, value, column) {
                    if (rowdata.BsepeakState == '等待确认') {
                        return '<div class="grid_opp_container">'
                        + '<span class="grid_opp_delete" onclick="onDelete(' + rowdata.BespeakID + ',' + rowindex + ')">删除</span>'
                        + '</div>';
                    }
                    return "";

                }
            }

                    ],
                    data: gridData,
                    sortName: 'BespeakTime',
                    rownumbers: true,
                    checkbox: false,
                    height: '99%',
                    width: "99%",
                    pageSize: 100,
                    percentWidthMode: true
                });


            }


            function onDelete(BespeakID,rowindex)
            {
                var row = grid.getRow(rowindex); 
                if(row.BsepeakState!='等待确认'){
                    top.Toast('showErrorToast', '只能删除状态为[等待确认]的预约记录，删除失败');
                }
                else{
                    top.Dialog.confirm("确认删除吗",
                        function(){
                            $.ajax({
                                url: "@Url.Action("BespeakLogRemove", "ReaderLog")",
                                data: { BespeakID: BespeakID },
                                type: "post",
                                dataType: "json",
                                success: function (data) {
                                    if (data.status == "yes") {
                                        top.Toast('showSuccessToast', data.message);
                                        searchHandler();
                                    } else {
                                        top.Toast('showErrorToast', data.message);
                                    }
                                }
                            });
                        },
                        function(){
                            //点击了取消
                        });
                }
            }


            $(function () {
                $("#beginDate").val('@ViewBag.nowDay');
                $("#endDate").val('@ViewBag.after7Day');

                $("#BespeakEnum").html(ddSelect);
            });


            function searchHandler(){
                var $beginDateString = $("#beginDate").val();
                var $endDateString = $("#endDate").val();
                var $statusString = $("#selStatus").val();

                $.ajax({
                    url: "@Url.Action("GetGridString", "ReaderLog")",
                    data: { beginDateString: $beginDateString,endDateString: $endDateString,statusString: $statusString },
                    type: "post",
                    dataType: "text",
                    success: function (data) {
                      //  console.log(data);
                        var obj = eval('(' + data + ')');     // JSON.parse(data); // eval('(' + data + ')');
                        //alert(obj);
                        grid.loadData(obj);
                    },error:function (data){
                        alert(data);
                    }
                });
            }

        </script>

</body>
</html>
