
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blacklist</title>
    <!--框架必需start-->
    <script type="text/javascript" src="~/quickui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/framework.js"></script>
    <link href="~/quickui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" id="skin" prePath="~/quickui/" />
    <link rel="stylesheet" type="text/css" id="customSkin" />
    <!--框架必需end-->
    <link rel="stylesheet" type="text/css" href="~/quickui/style/style.css" />
    <script src="~/quickui/libs/js/table/quiGrid.js" type="text/javascript"></script>
    <!--引入提示组件start-->
    <script type="text/javascript" src="~/quickui/libs/js/popup/toast.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/popup/notice.js"></script>
    <!--引入提示组件end-->
    <script type="text/javascript" src="~/quickui/libs/js/form/datePicker/WdatePicker.js"></script>
    <script src="~/quickui/libs/js/form/validationRule.js" type="text/javascript"></script>
    <script src="~/quickui/libs/js/form/validation.js" type="text/javascript"></script>
</head>
<body>
    <div class="page_content">
        <div class="searchContent">
            <form id="queryForm" name="queryForm" method="post">
                <table style="float: left;">
                    <tr>
                        <td>学号：</td>
                        <td>
                            <input type="text" id="txtNum" name="txtNum" placeholder="为空则查询全部" />
                        </td>
                        <td>记录状态</td>
                        <td>
                            <select id="ddllogstatus" name="ddllogstatus">
                                <option value="-1">查询全部</option>
                                <option value="1">处罚中黑名单</option>
                                <option value="0">过期黑名单</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>开始时间</td>
                        <td>
                            <input type="text" dateFmt="yyyy/MM/dd" placeholder="开始日期" class="date" id="beginDate" name="beginDate" />
                        </td>
                        <td>结束时间</td>
                        <td>
                            <input type="text" dateFmt="yyyy/MM/dd" placeholder="结束日期" class="date" id="endDate" name="endDate" />
                        </td>
                        <td>
                            <button type="button" onclick="searchHandler()" id="search" class="primary"><span class="icon_find">查询</span></button>
                            <input type="checkbox" id="chkSearchMH" name="chkSearchMH" value="启用模糊查询" /><label for="chkSearchMH" class="hand">启用模糊查询</label>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="clear"></div>
        <br />
        <div class="infoCard infoCard2">
            <div class="title">
                <span>黑名单列表</span>
            </div>
            <div class="box_tool_min padding_top2 padding_bottom2 padding_right5">
                <div class="center">
                    <div class="left">
                        <div class="right">
                            <div class="padding_top5 padding_left10">
                                <a href="javascript:addNewBlack();"><span class="icon_add">新增</span></a>
                                <div class="box_tool_line"></div>
                                <a href="javascript:onDeleteAll();"><span class="icon_delete">移除</span></a>
                                <div class="box_tool_line"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div id="dataBasic"></div>
        </div>
    </div>

    <script>

        function onDeleteAll() {
            //   alert("delete");
            //  grid.getSelectedRows
            var rows = grid.getSelectedRows();
            if (rows.length == 0) {
                top.Toast('showErrorToast', '请至少选择一行');
                return;
            }
            var ids = "";

            for (i = 0; i < rows.length; i++) {
                ids += rows[i].ID + ",";
            }
            ids = ids.substring(0, ids.lastIndexOf(','));
            top.Dialog.confirm("确认移除所选中黑名单记录吗（并不会真正删除，只是使记录无效）",
            function () {
                $.ajax({
                    url: "@Url.Action("BlackRemoveAll", "LogManage")",
                    data: { IDs: ids },
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data.status == "yes") {
                            top.Toast('showSuccessToast', data.message);
                            searchHandler();
                        } else {
                            top.Toast('showErrorToast', data.message);
                        }
                    }
                });
            });
        }

        function onDelete(ID) {

            top.Dialog.confirm("确认取消这条违规记录吗（并不会真正删除，只是使此条记录无效）",
                function () {
                    $.ajax({
                        url: "@Url.Action("BlackRemove", "LogManage")",
                        data: { ID: ID },
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.status == "yes") {
                                top.Toast('showSuccessToast', data.message);
                                searchHandler();
                            } else {
                                top.Toast('showErrorToast', data.message);
                            }
                        }
                    });
                });
        }

        function addNewBlack()
        {
            var diag = new top.Dialog();
            diag.Title = '新增黑名单记录';
            diag.URL = "@Url.Action("AddNewBlack", "LogManage")";
            diag.Width = 500;
            diag.Height = 300;
            diag.OkButtonText = "保 存";
            //顺序很重要，diag.show()之前添加确定按钮事件，show之后添加新按钮
            diag.OKEvent = function () {
                var inputValue = diag.innerFrame.contentWindow.myTest();
                searchHandler();
            };
            diag.show();
        }

        

        $(function () {
            $("#beginDate").val('@ViewBag.before7Day');
            $("#endDate").val('@ViewBag.nowDay');
        });

        function initComplete() {
            grid = $("#dataBasic").quiGrid({
                columns: [
                    {
                        display: 'ID',
                        name: 'ID',
                        width: "1%",
                        hide: true
                    }, {
                        display: '学号',
                        name: 'CardNo',
                        width: "5%"
                    },
                    {
                        display: '姓名',
                        name: 'ReaderName',
                        width: "5%"
                    }, {
                        display: '加入时间',
                        name: 'AddTime',
                        width: "10%"
                    }, {
                        display: '离开时间',
                        name: 'LeaveTime',
                        width: "10%"
                    }, {
                        display: '离开方式',
                        name: 'LeaveMode',
                        width: "10%"
                    }, {
                        display: '记录状态',
                        name: 'LogStatus',
                        width: "10%"
                    }, {
                        display: '备注',
                        name: 'Remark',
                        width: "40%"
                    }, 
                        {
                            display: '操作', isAllowHide: false, align: 'left', width: "10%",
                            render: function (rowdata, rowindex, value, column) {
                                if (rowdata.LogStatus == '处罚中') {
                                    return '<div class="grid_opp_container">'
                                    + '<span class="grid_opp_delete" onclick="onDelete(' + rowdata.ID + ',' + rowindex + ')">删除</span>'
                                    + '</div>';
                                }
                                return "";

                            }
                        }
                ],
                // data: gridData,
                sortName: 'AddTime',
                rownumbers: true,
                checkbox: true,
                height: '100%',
                width: "100%",
                pageSize: 100,
                percentWidthMode: true
            });
        }



        function searchHandler() {
            $.ajax({
                url: "@Url.Action("GetBlackData", "LogManage")", //你的路由地址
                type: "post",
                dataType: "text",
                data: $("#queryForm").serialize(),
                timeout: 30000,
                success: function (data) {
                    console.log(data);
                    var obj = eval('(' + data + ')');
                    grid.loadData(obj);
                },
                error: function () {
                    top.Toast('showErrorToast', '发生不可预计错误，请重新尝试');
                }
            });
        }

        $(function () {
            $("#beginDate").val('@ViewBag.before7Day');
            $("#endDate").val('@ViewBag.nowDay');

            searchHandler();
        });

    </script>
</body>
</html>

