
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MonitorListMode</title>
    <!--框架必需start-->
    <script type="text/javascript" src="~/quickui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/framework.js"></script>
    <link href="~/quickui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" id="skin" prePath="~/quickui/" />
    <link rel="stylesheet" type="text/css" id="customSkin" />
    <!--框架必需end-->
    <link rel="stylesheet" type="text/css" href="~/quickui/style/style.css" />

    <script src="~/quickui/libs/js/table/quiGrid.js" type="text/javascript"></script>

    <!--引入提示组件start-->
    <script type="text/javascript" src="~/quickui/libs/js/popup/toast.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/popup/notice.js"></script>
    <!--引入提示组件end-->

    <script>
        var roomId = @ViewBag.roomId;




    </script>

</head>
<body>
    
    <div class="page_content">
        <div class="infoCard infoCard2">
            <div class="title">
                <span>读者列表</span>
            </div>
            <div id="dataBasic"></div>
        </div>
    </div>

    <script>
        var grid = null;
        var data = @MvcHtmlString.Create(@ViewBag.Data);
        //数据表格使用
        var gridData = data;

        function initComplete() {
            grid = $("#dataBasic").quiGrid({
                columns: [{
                    display: '学号',
                    name: 'CardNo',
                    width: "10%",
                    cellClick: true
                },{
                    display: '姓名',
                    name: 'ReaderName',
                    width: "10%"
                },{
                    display: '阅览室名称',
                    name: 'ReadingRoomName',
                    width: "20%"
                }, {
                    display: '座位号',
                    name: 'SeatShortNum',
                    width: "10%"
                },
                     {
                         display: '状态',
                         name: 'Status',
                         width: "10%"
                     }, 
                     {
                         display: '时间',
                         name: 'EnterOutTime',
                         width: "10%"
                     },
                      {
                          display: '备注',
                          name: 'Remark',
                          width: "20%"
                      },
                    {
                        display: '操作',
                        name: 'op',
                        align: 'left',
                        width: "10%",
                        render: function(rowdata, rowindex, value, column) {
                            var mainCon = $('<div></div>');
                            var con = $('<span class="operation_look" onclick="readerOpation('+rowindex+')" style="float:none;">操作</span>');
                            mainCon.append(con);
                            return mainCon.html();
                        }
                    }
                ],
                data: gridData,
                sortName: 'SeatShortNum',
                rownumbers: true,
                checkbox: false,
                height: '99%',
                width: "99%",
                pageSize: 100,
                percentWidthMode: true,
                onAfterShowData: onAfterShowData
            });
        }

        function onAfterShowData(data) {

            $("#dataBasic").find(".popupMenu").each(function() {
                $(this).hover(function() {
                    $(this).find(".popupMenu_con").show();
                }, function() {
                    $(this).find(".popupMenu_con").hide();
                });
            })
        }

      
        //SeatHandle.aspx?seatNo={0}&seatShortNo={1}&used={2}
        function readerOpation(rowIndex){
            
            var seatShortNo =   grid.getRow(rowIndex)["SeatShortNum"];
            seatNo = roomId+seatShortNo;
            used = "1";
            urlParameters = "?seatNo="+seatNo+"&seatShortNo="+seatShortNo+"&used=1";

            var diag = new top.Dialog();
            diag.Title = "座位操作";
            diag.URL = "@Url.Action("SeatHandle", "SeatMonitor")" + urlParameters;
            diag.Width = 600;
            diag.Height = 400;
            diag.OkButtonText = "关闭";
            diag.OKEvent = function () {
                diag.close();
            };
            diag.show();

            diag.addButton("next", " 暂离/取消暂离 ", function () {
                var inputValue = diag.innerFrame.contentWindow.document.getElementById('txtbtnShortLeave').value;
                if (inputValue == "暂离") {
                    urlParameters += "&isShortLeave=y";
                } else {
                    urlParameters += "&isShortLeave=n";
                }
                $.ajax({
                    url: "@Url.Action("ShortLeave", "SeatMonitor")" + urlParameters,
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data.status == "yes") {
                            top.Toast('showSuccessToast', data.message);
                            diag.close();
                        } else {
                            top.Toast('showErrorToast', data.message);
                        }
                    }
                });
            });
            diag.addButton("next", " 释放 ", function () {
                //Leave
                $.ajax({
                    url: "@Url.Action("Leave", "SeatMonitor")" + urlParameters,
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data.status == "yes") {
                            top.Toast('showSuccessToast', data.message);
                            
                            diag.close();
                        } else {
                            top.Toast('showErrorToast', data.message);
                        }
                    }
                });
            });
            diag.addButton("next", " 加入黑名单 ", function () {
                //addBlackListRemark  SureAddBlacklist
                var addBlackListRemark = diag.innerFrame.contentWindow.document.getElementById('addBlackListRemark').value;
                var CardNo = diag.innerFrame.contentWindow.document.getElementById('CardNo').value;
                urlParameters += "&CardNo=" + CardNo + "&addBlackListRemark=" + addBlackListRemark;
                $.ajax({
                    url: "@Url.Action("SureAddBlacklist", "SeatMonitor")" + urlParameters,
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data.status == "yes") {
                            top.Toast('showSuccessToast', data.message);
                            diag.close();
                        } else {
                            top.Toast('showErrorToast', data.message);
                        }
                    }
                });
            });

            //$(document).ready(
            //    function () {
            //      //  loadSeatLayout();
            //        intervalRun();
            //    })

            //function intervalRun() {
            //    var interval;
            //    interval = setInterval(reLoadList, '5000');
            //}

            //function reLoadList()
            //{
            //   // alert("ok");
            //    grid.loadServerData();
            //}

           // location.href='/SeatMonitor/MonitorListMode?roomId = '+roomId;
        }
    </script>
</body>
</html>
