
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SeatHandle</title>
    <!--框架必需start-->
    <script type="text/javascript" src="~/quickui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/framework.js"></script>
    <link href="~/quickui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" id="skin" prePath="~/quickui/" />
    <link rel="stylesheet" type="text/css" id="customSkin" />
    <!--框架必需end-->
    <link rel="stylesheet" type="text/css" href="~/quickui/style/style.css" />

    <script src="~/quickui/libs/js/table/quiGrid.js" type="text/javascript"></script>

    <!--引入提示组件start-->
    <script type="text/javascript" src="~/quickui/libs/js/popup/toast.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/popup/notice.js"></script>
    <!--引入提示组件end-->

    <script>

    </script>

</head>
<body>
    <form>
        <input type="hidden" value="@ViewBag.btnShortLeave" id="txtbtnShortLeave" />
        <input type="hidden" value="@ViewBag.CardNo" id="CardNo" />
        <div id="layout1">
            <div position="top" style="" panelTitle="组织机构">
                <div style="width:100%;">

                    <table class="tableStyle" formMode="view">
                        <tr>
                            <th colspan="4">座位信息</th>
                        </tr>
                        <tr>
                            <td>学号：</td>
                            <td>@ViewBag.CardNo</td>
                            <td>姓名：</td>
                            <td>@ViewBag.ReaderNameText</td>
                        </tr>
                        <tr>
                            <td>座位：</td>
                            <td>@ViewBag.Seat</td>
                            <td>状态：</td>
                            <td>@ViewBag.SeatStatus</td>
                        </tr>
                        <tr>
                            <td>时间：</td>
                            <td colspan="3">@ViewBag.TimeLength</td>
                        </tr>
                    </table>

                </div>
            </div>
            @if (ViewBag.used == "0")
            {
                <div id="divSureAllotSeat" position="bottom" style="" panelTitle="便捷工具">
                    <div position="top" style="" panelTitle="组织机构">
                        <div style="width:100%;">
                            <table class="tableStyle" formMode="view">
                                <tr>
                                    <th colspan="4">分配座位</th>
                                </tr>
                                <tr>
                                    <td>学号：</td>
                                    <td><input type="text" id="txtCardNo" name="txtCardNo" watermark="输入学号" /></td>
                                    <td>座位号：</td>
                                    <td><input type="text" id="Seat" name="Seat" value="@ViewBag.Seat" /> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            }

            @if (ViewBag.used != "0" && ViewBag.used != "2" && ViewBag.used != "3")
            {
                <div id="divAddBlackList" position="bottom" style="" panelTitle="便捷工具">
                    <div position="top" style="" panelTitle="组织机构">
                        <div style="width:100%;">
                            <table class="tableStyle" formMode="view">
                                <tr>
                                    <th colspan="4">加入黑名单备注</th>
                                </tr>
                                <tr>
                                    <td width="10%">备注：</td>
                                    <td width="90%"><textarea rows="3"  id="addBlackListRemark"></textarea></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            }


        </div>
    </form>
</body>
</html>
